bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/FunMasters/FunMasters/wwwroot/uploads**
/.idea/.idea.FunMasters/.idea/data_source_mapping.xml
/.idea/.idea.FunMasters/.idea/dataSources.xml

# Auto Generated
FunMasters/FunMasters/wwwroot/css/site.css
FunMasters/FunMasters/Styles/daisyui*.mjs