bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/FunMasters/FunMasters/wwwroot/uploads**
/.idea/.idea.FunMasters/.idea/data_source_mapping.xml
/.idea/.idea.FunMasters/.idea/dataSources.xml
.idea/.idea.FunMasters/.idea/db-forest-config.xml

# Auto Generated
FunMasters/FunMasters/wwwroot/css/site.css
FunMasters/FunMasters/Styles/daisyui*.mjs

# Claude Code plans
claude-plans/