@page "/admin/users/add"
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager Nav
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Add User</PageTitle>
<div class="m-5">
    <h3 class="text-2xl text-center md-5">Add User</h3>

    <div class="card bg-base-200 shadow-sm">
        <div class="card-body">
            <EditForm Model="@user" OnValidSubmit="HandleValidSubmit" class="flex flex-col gap-4 w-sm">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <label class="floating-label">
                    <span>Cycle Order</span>
                    <InputNumber class="input" @bind-Value="user.CycleOrder" />
                </label>

                <label class="floating-label">
                    <span>Email</span>
                    <InputText class="input" @bind-Value="user.Email" />
                </label>

                <label class="floating-label">
                    <span>Display Name</span>
                    <InputText class="input" @bind-Value="user.UserName" />
                </label>

                <label class="floating-label">
                    <span>Password</span>
                    <InputText class="input" type="password" @bind-Value="password" />
                </label>

                <label class="floating-label">
                    <span>Role</span>
                    <InputSelect class="select" @bind-Value="role">
                        <option value="Member">Member</option>
                        <option value="Admin">Admin</option>
                    </InputSelect>
                </label>

                <button type="submit" class="btn btn-primary">Create</button>
            </EditForm>

        </div>
    </div>
</div>

@code {
    private ApplicationUser user = new();
    private string password = "";
    private string role = "Member";

    private async Task HandleValidSubmit()
    {
        var result = await UserManager.CreateAsync(user, password);
        if (result.Succeeded)
        {
            await UserManager.AddToRoleAsync(user, role);
            Nav.NavigateTo("/admin/users");
        }
        else
        {
            foreach (var error in result.Errors)
                Console.WriteLine(error.Description);
        }
    }
}