@page "/Account/Manage/ChangePassword"

@using System.ComponentModel.DataAnnotations

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ILogger<ChangePassword> Logger

<PageTitle>Change password</PageTitle>

<h3 class="text-xl mb-2">Change password</h3>
<StatusMessage Message="@message"/>
<EditForm Model="Input" FormName="change-password" OnValidSubmit="OnValidSubmitAsync" method="post">
    <div class="card bg-base-300 w-full md:w-1/2 shadow-lg">
        <div class="card-body flex flex-col justify-items-stretchr">
            <DataAnnotationsValidator/>
            <ValidationSummary class="text-error" role="alert"/>
            <label class="floating-label mb-5 mt-3">
                <span>Old password</span>
                <InputText type="password" @bind-Value="Input.OldPassword" id="Input.OldPassword" class="input w-full" autocomplete="current-password" aria-required="true" placeholder="Enter the old password"/>
            </label>
            <label class="floating-label mb-5">
                <span>New password</span>
                <InputText type="password" @bind-Value="Input.NewPassword" id="Input.NewPassword" class="input w-full" autocomplete="new-password" aria-required="true" placeholder="Enter the new password"/>
            </label>
            <label class="floating-label mb-5">
                <span>Confirm password</span>
                <InputText type="password" @bind-Value="Input.ConfirmPassword" id="Input.ConfirmPassword" class="input w-full" autocomplete="new-password" aria-required="true" placeholder="Enter the new password"/>
            </label>
            <div class="card-actions justify-stretch">
                <button type="submit" class="btn btn-lg btn-primary w-full">Save</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    private string? message;
    private ApplicationUser user = default!;
    private bool hasPassword;

    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm] private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        hasPassword = await UserManager.HasPasswordAsync(user);
        if (!hasPassword)
        {
            RedirectManager.RedirectTo("Account/Manage/SetPassword");
        }
    }

    private async Task OnValidSubmitAsync()
    {
        var changePasswordResult = await UserManager.ChangePasswordAsync(user, Input.OldPassword, Input.NewPassword);
        if (!changePasswordResult.Succeeded)
        {
            message = $"Error: {string.Join(",", changePasswordResult.Errors.Select(error => error.Description))}";
            return;
        }
        
        user.RequirePasswordChange = false;
        await UserManager.UpdateAsync(user);

        await SignInManager.RefreshSignInAsync(user);
        Logger.LogInformation("User changed their password successfully.");

        RedirectManager.RedirectToCurrentPageWithStatus("Your password has been changed", HttpContext);
    }

    private sealed class InputModel
    {
        [Required]
        [DataType(DataType.Password)]
        [Display(Name = "Current password")]
        public string OldPassword { get; set; } = "";

        [Required]
        [StringLength(100, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 6)]
        [DataType(DataType.Password)]
        [Display(Name = "New password")]
        public string NewPassword { get; set; } = "";

        [DataType(DataType.Password)]
        [Display(Name = "Confirm new password")]
        [Compare("NewPassword", ErrorMessage = "The new password and confirmation password do not match.")]
        public string ConfirmPassword { get; set; } = "";
    }

}