@page "/Account/Manage"


@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager

<PageTitle>Profile</PageTitle>
<StatusMessage/>

<h3 class="text-xl mb-2">Profile</h3>
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="card bg-base-300 shadow-lg">
        <div class="card-body items-center text-center">
            
            <div class="my-2">
                <img src="@Input.ProfileImageUrl" class="w-200px mask mask-squircle" alt="Profile Image"/>
            </div>
            @if (user != null)
            {
                <ProfileImageUploader UserId="user.Id"/>
            }
        </div>
    </div>

    <EditForm Model="Input" FormName="profile" OnValidSubmit="OnValidSubmitAsync" method="post">
        <div class="card bg-base-300 shadow-lg">
            <div class="card-body flex flex-col justify-items-stretch">
                <DataAnnotationsValidator/>
                <ValidationSummary class="text-error" role="alert"/>
                <label class="floating-label mb-5 mt-3">
                    <span>Login</span>
                    <InputText @bind-Value="Input.Login" id="Input.Login" class="input w-full" placeholder="Enter your login"/>
                </label>
                <label class="floating-label mb-5">
                    <span>Display Name</span>
                    <InputText type="text" @bind-Value="@Input.DisplayName" id="username" class="input w-full" placeholder="Choose your display name."/>
                </label>
                <div class="card-actions justify-stretch">
                    <button type="submit" class="btn btn-lg btn-primary w-full">Save</button>
                </div>
            </div>
        </div>
    </EditForm>
    
</div>


@code {
    private ApplicationUser? user;
    private string? login;
    private string? username;

    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm] private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        login = await UserManager.GetEmailAsync(user);
        username = await UserManager.GetUserNameAsync(user);

        Input.Login ??= login;
        Input.DisplayName ??= username;
        Input.ProfileImageUrl = $"/uploads/avatars/{user.Id:n}";
    }

    private async Task OnValidSubmitAsync()
    {
        if(user == null)
            return;
        
        if (Input.Login != login)
        {
            var result = await UserManager.SetEmailAsync(user, Input.Login);
            if (!result.Succeeded)
            {
                RedirectManager.RedirectToCurrentPageWithStatus("Error: Failed to set login.", HttpContext);
            }
        }
        
        if (Input.DisplayName != username)
        {
            var result = await UserManager.SetUserNameAsync(user, Input.DisplayName);
            if (!result.Succeeded)
            {
                RedirectManager.RedirectToCurrentPageWithStatus("Error: Failed to set display name.", HttpContext);
            }
        }

        await SignInManager.RefreshSignInAsync(user);
        RedirectManager.RedirectToCurrentPageWithStatus("Your profile has been updated", HttpContext);
    }

    private sealed class InputModel
    {
        public string? DisplayName { get; set; }
        public string? Login { get; set; }
        public string ProfileImageUrl { get; set; } = "";
    }

}