
@inject NavigationManager Nav
@inject AvatarStorage AvatarStorage

@rendermode InteractiveServer

<InputFile OnChange="OnFileSelected" accept="image/*" class="file-input file-input-lg w-full mb-2"/>

<button type="button" disabled="@(_browserFile == null)" @onclick="Upload" class="w-full btn btn-lg btn-primary">Upload</button>

@code {
    private IBrowserFile? _browserFile;
    
    [Parameter, EditorRequired]
    public Guid UserId { get; set; }
    
    private void OnFileSelected(InputFileChangeEventArgs e)
    {
        _browserFile = e.FileCount == 1 ? e.File : null;
    }

    private async Task Upload()
    {
        if(_browserFile == null)
            return;
        
        await AvatarStorage.SaveAvatarAsync(_browserFile.OpenReadStream(maxAllowedSize: 5 * 1024 * 1024), UserId);
        
        Nav.Refresh(true);
    }

}