@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<header>
    <h1 class="text-error text-2xl">Access denied</h1>
    <p class="text-error">You do not have access to this resource.</p>
</header>