<div class="drawer-side">
    @* ReSharper disable once Html.IdNotResolved *@
    <label for="main-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu bg-base-200 min-h-full w-80 p-4">
        <NavMenuItems />
    </ul>
</div>