<ul class="menu menu-lg w-full">
    <li>
        <NavLink ActiveClass="menu-active" href="Account/Manage" Match="NavLinkMatch.All">Profile</NavLink>
    </li>
    <li>
        <NavLink ActiveClass="menu-active" href="Account/Manage/ChangePassword">Password</NavLink>
    </li>
    <li>
        <form action="Account/Logout" method="post">
            <AntiforgeryToken/>
            <input type="hidden" name="ReturnUrl" value="."/>
            <button type="submit" class="stretched-link">
                Logout
            </button>
        </form>
    </li>
</ul>
