@page "/game-suggestions"

@inject ApplicationDbContext Db
@inject GameCoverStorage GameCoverStorage


<PageTitle>Game Suggestions</PageTitle>

<h3>Game Suggestion</h3>
<p>List of game suggestion not queued yet</p>

@if (loading)
{
    <p>loading</p>
}
else
{
    <div class="queued-list d-flex flex-wrap justify-content-center justify-content-md-start">
        @foreach (var game in _suggestions)
        {
            <div class="card me-md-5 mb-3 p-0 pb-3 flex-grow-1 flex-md-grow-0" style="width: 264px;">
                <div class="d-flex flex-column align-items-start">
                    <img src="@GameCoverStorage.GetPublicUrl(game.Id)" alt="@game.Title" class="mb-2 w-100" style="border-radius: 4px 4px 0 0;" />
                    <div class="px-3">
                        <h3 class="mb-1">@game.Title</h3>
                        <strong class="d-flex align-items-center"><img src="uploads/avatars/@game.SuggestedBy!.Id.ToString("n")" class="me-1" style="width: 20px; height: 20px; border-radius: 50%; corner-shape: squircle;"/> @game.SuggestedBy.UserName</strong>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private bool loading = true;
    private List<Suggestion> _suggestions = [];
    
    protected override async Task OnInitializedAsync()
    {
        _suggestions = await Db.Suggestions
            .Include(s => s.SuggestedBy)
            .Include(s => s.Ratings)
            .Where(s => s.Status == SuggestionStatus.Pending && !s.IsHidden)
            .OrderBy(s => s.Order)
            .ThenBy(s => s.SuggestedBy!.CycleOrder)
            .ToListAsync();

        loading = false;
        
    }
}