<div class="@RootClass">
    <div @attributes="AdditionalAttributes" class="rating-stars" style="--rating: @Rating;">
        <div class="stars-background">★★★★★</div>
        <div class="stars-filled">★★★★★</div>
    </div>
</div>

@code {
    [Parameter] public decimal Rating { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string RootClass =>
        AdditionalAttributes != null &&
        AdditionalAttributes.TryGetValue("class", out object? cls)
            ? cls?.ToString() ?? ""
            : "";

}