@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@source not "./tailwindcss.exe";
@source not "./daisyui{,*}.mjs";
@source "../../FunMasters.Client/";

@plugin "./daisyui.mjs";

@plugin "./daisyui-theme.mjs" {
    name: "fun-dark";
    default: false;
    prefersdark: true;
    color-scheme: dark;
    --color-base-100: oklch(14% 0 0);
    --color-base-200: oklch(20% 0 0);
    --color-base-300: oklch(26% 0 0);
    --color-base-content: oklch(97% 0 0);
    --color-primary: oklch(76% 0.188 70.08);
    --color-primary-content: oklch(98% 0.022 95.277);
    --color-secondary: oklch(62% 0.265 303.9);
    --color-secondary-content: oklch(97% 0.014 308.299);
    --color-accent: oklch(76% 0.233 130.85);
    --color-accent-content: oklch(98% 0.031 120.757);
    --color-neutral: oklch(37% 0 0);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(68% 0.169 237.323);
    --color-info-content: oklch(97% 0.013 236.62);
    --color-success: oklch(69% 0.17 162.48);
    --color-success-content: oklch(97% 0.021 166.113);
    --color-warning: oklch(76% 0.188 70.08);
    --color-warning-content: oklch(98% 0.022 95.277);
    --color-error: oklch(64% 0.246 16.439);
    --color-error-content: oklch(96% 0.015 12.422);
    --radius-selector: 0.25rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.3125rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
}

/* Disbled until I figure out a theme selector that works with Blazor
@plugin "./daisyui-theme.mjs" {
    name: "fun-light";
    default: true;
    prefersdark: false;
    color-scheme: light;

    
    --color-base-100: oklch(98% 0 0);
    --color-base-200: oklch(94% 0 0);
    --color-base-300: oklch(88% 0 0);
    --color-base-content: oklch(20% 0 0);

    --color-primary: oklch(76% 0.188 70.08);
    --color-primary-content: oklch(98% 0.022 95.277);

    --color-secondary: oklch(70% 0.265 303.9);
    --color-secondary-content: oklch(16% 0 0);

    --color-accent: oklch(72% 0.233 130.85);
    --color-accent-content: oklch(14% 0 0);

    --color-neutral: oklch(37% 0 0);
    --color-neutral-content: oklch(98% 0 0);

    --color-info: oklch(70% 0.169 237.323);
    --color-info-content: oklch(18% 0 0);

    --color-success: oklch(70% 0.17 162.48);
    --color-success-content: oklch(18% 0 0);

    --color-warning: oklch(76% 0.188 70.08);
    --color-warning-content: oklch(18% 0 0);

    --color-error: oklch(64% 0.246 16.439);
    --color-error-content: oklch(18% 0 0);

    --radius-selector: 0.25rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.3125rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
}
*/


@custom-variant can-hover {
    @media (hover: hover) and (pointer: fine) {
        @slot;
    }
}


@utility grid-cols-fill-* {
    grid-template-columns: repeat(auto-fill, minmax(--value([length]), 1fr));
}
@utility grid-cols-fit-* {
    grid-template-columns: repeat(auto-fit, minmax(--value([length]), 1fr));
}

.card-hover {
    &, * {
        @apply duration-250 ease-in-out transition-all;
    }

    &:hover {
        @apply shadow-lg
        bg-base-300
        z-10;

        figure img {
            @apply scale-110;
        }
    }
}

.cover-box-shadow {
    box-shadow: inset 0 -150px 40px -47px rgba(0,0,0,0.6);
    &:hover {
        box-shadow: inset 0 -150px 40px -47px rgba(0,0,0,0.6), inset 0  120px 40px -47px rgba(0,0,0,0.6);
    }
    
    @media (hover: none) {
        box-shadow: inset 0 -150px 40px -47px rgba(0,0,0,0.6), inset 0  120px 40px -47px rgba(0,0,0,0.7);
    }
}


.stretched-link::after {
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
}
.spoiler-text {
    transition: all 0.3s ease-in-out;
}
.spoiler-on {
    color: transparent;
    text-shadow: 0 0 1em var(--color-base-content);
    cursor: pointer;
    user-select: none;
}

.rating-stars {
    position: relative;
    display: inline-block;
    color: var(--color-orange-400);
    user-select: none;
}

.stars-background {
    opacity: 0.5;
}

.stars-filled {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    width: calc(var(--rating) / 10 * 100%);
}