
<div @attributes="AdditionalAttributes" class="block rating-stars @RootClass" style="--rating: @Rating;">
    <div class="stars-background">★★★★★</div>
    <div class="stars-filled">★★★★★</div>
</div>

@code {
    [Parameter] public decimal Rating { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string RootClass =>
        AdditionalAttributes != null &&
        AdditionalAttributes.TryGetValue("class", out object? cls)
            ? cls?.ToString() ?? ""
            : "";

}