@page "/Account/Lockout"

<PageTitle>Locked out</PageTitle>

<header>
    <h1 class="text-error text-2xl">Locked out</h1>
    <p class="text-error" role="alert">This account has been locked out, please try again later.</p>
</header>