@page "/Account/Login"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Log in</PageTitle>

<div class="hero bg-base-200 h-full rounded-box items-start pt-20">
    <div class="hero-content flex-col w-full">
        <div class="text-center lg:text-left mb-12">
            <h1 class="text-5xl font-bold">Login now!</h1>
        </div>
        <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
            <div class="card-body">
                <EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
                    <DataAnnotationsValidator/>
                    <ValidationSummary class="text-error" role="alert"/>
                    <label class="floating-label mb-5 mt-3">
                        <span>Login</span>
                        <InputText @bind-Value="Input.Email" id="Input.Email" class="input w-full" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                        <ValidationMessage For="() => Input.Email" class="text-error"/>
                    </label>
                    <label class="floating-label mb-5">
                        <span>Password</span>
                        <InputText type="password" @bind-Value="Input.Password" id="Input.Password" class="input w-full" autocomplete="current-password" aria-required="true" placeholder="password"/>
                        <ValidationMessage For="() => Input.Password" class="text-error"/>
                    </label>
                    <label class="label mb-3">
                        <InputCheckbox @bind-Value="Input.RememberMe" class="checkbox"/>
                        Remember me
                    </label>
                    <div>
                        <button type="submit" class="w-full btn btn-primary">Log in</button>
                    </div>
                </EditForm>
            
                <StatusMessage Message="@_errorMessage"/>
            </div>
        </div>
    </div>
</div>

@code {
    private string? _errorMessage;

    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm] private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery] private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }

    public async Task LoginUser()
    {
        // This doesn't count login failures towards account lockout
        // To enable password failures to trigger account lockout, set lockoutOnFailure: true
        var user = await UserManager.FindByEmailAsync(Input.Email) ;
        if (user == null)
        {
            _errorMessage = "Error: Invalid login attempt.";
            return;
        }
        
        var result = await SignInManager.PasswordSignInAsync(user, Input.Password, Input.RememberMe, lockoutOnFailure: false);
        if (result.Succeeded)
        {

            if (user.RequirePasswordChange)
            {
                RedirectManager.RedirectTo("Account/Manage/ChangePassword");
                return;
            }

            RedirectManager.RedirectTo(ReturnUrl);
        }
        else if (result.RequiresTwoFactor)
        {
            RedirectManager.RedirectTo(
                "Account/LoginWith2fa",
                new() { ["returnUrl"] = ReturnUrl, ["rememberMe"] = Input.RememberMe });
        }
        else if (result.IsLockedOut)
        {
            RedirectManager.RedirectTo("Account/Lockout");
        }
        else
        {
            _errorMessage = "Error: Invalid login attempt.";
        }
    }

    private sealed class InputModel
    {
        [Required] public string Email { get; set; } = "";

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        [Display(Name = "Remember me?")] public bool RememberMe { get; set; } = true;
    }

}