@using System.Security.Claims


<div class="navbar bg-base-300 w-full">
    <div class="flex-none lg:hidden">
        @* ReSharper disable once Html.IdNotResolved *@
        <label for="main-drawer" aria-label="open sidebar" class="btn btn-square btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 class="inline-block h-6 w-6 stroke-current">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
        </label>
    </div>

    <div class="navbar-center flex-1">
        <a href="/" class="btn btn-ghost text-2xl text-primary">Fun Masters</a>

        @* Mobile Nav *@
        <div class="hidden flex-none lg:block">
            <ul class="menu menu-horizontal">
                <NavMenuItems/>
            </ul>
        </div>
    </div>

    <div class="navbar-end">
        <ul class="menu menu-horizontal px-1">
            <AuthorizeView Context="authContext">
                <Authorized>
                    <li>
                        <NavLink href="Account/Manage" ActiveClass="menu-active"  class="btn btn-ghost p-0">
                            <img class="w-8 mask mask-squircle" alt="@authContext.User.Identity?.Name"
                                 src="uploads/avatars/@authContext.User.FindFirst(ClaimTypes.NameIdentifier)?.Value.ToLower().Replace("-", "")"/>
                            <span class="ms-1 max-md:hidden">@authContext.User.Identity?.Name</span>
                        </NavLink>
                    </li>
                </Authorized>
            
                <NotAuthorized>
                    <li>
                        <NavLink href="Account/Login" ActiveClass="menu-active" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                <path d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492z"/>
                            </svg> Login
                        </NavLink>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>

</div>


